################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/CamSistemDataLayer/BussinesLogic/MaliyetHesapla.cs
